
/*=============*/
/*  MENU COTE   */
.sidemenu ul, a, li{
    list-style-type: none;
    text-align: center;
}
.sidemenu ul{
    padding: 0;
    border: 1px solid black;
}

.sidemenu ul li:not(last-child){
    border-bottom: 1px solid black;
}

.sidemenu ul a li:active, .sidemenu ul a li:hover{
    background-color: #ddd;
    color: black;
}

.sidemenu{
    background-color: red;
    border-radius: 5px;
    width: 20%;
    min-width: 200px;
}

.sidemenu ul li{
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
}

a{
    text-decoration: none;
}
a.active li {
    background-color: #bf0400;
    color: white;
}

