/*
	+----------------+
	|  CONTACT PAGE  |
	+----------------+
*/
section {
	padding-left: 30px;
}
@media screen and (max-device-width: 959px){

	body{
		width: 100%;
	}
}

@media screen and (min-width: 960px) {
}


/*====================*/
/*	BANNIERE	*/

#banner2{
	background-image: url('images/bannercontact.png');
	background-size: 100%;
}



/*=====================*/
/*	COORDONN2ES	*/

.location:before{
	content: url('icones/location.png');
	margin-left: -28px;
}

.mail:before{
	content: url('icones/mail.png');
	margin-left: -28px;
}

h4{
	padding-left: 4%;
}



/*====================*/
/*	FORMULAIRE	*/

#submit{
	border-radius: 0px;
	font-size: 100%;
	width: 30%;
	background-color: #cc0000;
	color: white;
	border: 1px solid #800000;
}

#submit:hover, #submit:active{
	background-color: #ff0000;
	cursor: pointer;
}



