/*
	+--------------+
	|	 ACCUEIL   |
	+--------------+
*/

/*========= Articles + Actualités =========*/


h1{
	color: red;
	font-family: 'contm';
}

#bannerhome{
	background-size: 100% 100%;
	background-image: url('images/banner.jpg');
}


#Narts2:before{
	content: url('icones/panier.png');
	display: inline;
}
#Acts2:before{
	content: url('icones/journal.png');
	display: inline;
}

/*
    +-------------------+
    |  FORMATS MOBILES  |
    +-------------------+
*/

@media screen and (min-device-width: 320px) and(max-device-width: 480px), handheld {

}






/*
    +-----------------------+
    |  FORMATS ORDINATEURS  |
    +-----------------------+
*/

@media screen and (min-width: 960px) {
	section{
		display : flex;
		margin: auto;
	}

	#Acts, #Narts{
		height: 100%;
		padding-left: 10px;
		margin-top: 10px;
	}

	#Narts2:before, #Acts2:before{
		padding-right: 5px;
	}
	/*========= Nouveaux articles =========*/

	#Narts{
		width: 70%;
	}


	/*========= Actualités =========*/

	#Acts{
		width: 30%;
		border-left: 1px solid red;
	}

	h5, p{
		font-family: Arial;
		margin-top: 2px;
		margin-bottom: 2px;
	}
	p{
		font-size: 0.8em;
	}

}