/*
	+--------------+
	|  LOGIN PAGE  |
	+--------------+
*/


@font-face{
	font-family: 'Hwy';
	src: url('fonts/HWYGEXPD.TTF');
}

body, ::placeholder, button, input{
	font-family: Hwy;
}

/*	Centrage titre, logo, Div des cadres*/
.center{
	text-align: center;
	display: block;
	margin: auto;
}

/*========================*/
/*	BUTTON	*/

.button:hover{
	background-color: firebrick;
	cursor: pointer;
}

.button{
	border-radius: 5px;
	margin-top: 4px;
	color: white;
	background-color: red;
	width: 30%;
}

/*========================*/
/*	LOGO + Format mobile +22*/

#Logo, .cadre{
	margin-top: 35px;
}

input{
	border-radius: 1px;
	box-shadow: 0px 0px 0px;
}

.titre-cadre, input, .submit{
	padding-top: 15px;
	padding-bottom: 15px;
}

.contenu-cadre{
	padding-bottom: 15px;
}

input, .submit{
	margin-top: 15px;
}

@media screen and (max-width: 959px), handheld {
	#Logo {
		width: 25%;
	}
	body{
		width: 100%;
		margin:auto;
	}


}

@media screen and (min-width: 960px) {
	body{
		width: 960px;
		margin: auto;
	}
	#Logo{
		max-width : 200px;
		max-height: 100px;
	}
	#flex{
		display:flex;
		width: 90%;
		text-align: center;
		margin: auto;
	}
}




/*======================*/
/*	CADRE	*/
@media screen and (min-width: 960px) {
	.cadre {
		width: 400px;
		border-radius: 5px;
		margin: 20px 10px 20px 10px;
	}
	.cadre *{
		/*padding: 20px 20px 20px 20px;*/
	}
	.contenu-cadre, .titre-cadre{
		/*padding: 5px 5px 5px 5px;*/
	}

}
@media screen and (max-width: 959px), handheld {
	.cadre {
		width: 90%;
		margin: auto;
	}
}

a{
	text-decoration: none;
}


/*=========================*/
/*	Couleurs + Border radius - Immuables	*/
.titre-cadre{
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
	background-color: lightgrey;
	border-bottom: 2px solid darkgrey;
}

.cadre{
	background-color: #eaeaea;
	border-bottom-left-radius: 3px;
	border-bottom-right-radius: 3px;
}

.cadre *{
	align-content: center;
	text-align: center;
}

