@font-face{
    font-family: 'Hwy';
    src: url('fonts/HWYGEXPD.TTF');
}

@media screen and (min-width: 960px) {
    body {
        width: 960px;
    }
    form {
        margin: auto;
        width: 40%;
    }
    button {
        font-size: 1.5em;
    }
}

@media screen and (max-width: 959px) {
    body {
        width: 100%;
    }
    form {
        margin: auto;
        width: 90%;
    }
    button {
        font-size: 2em;
    }
}
.center{
    text-align: center;
    display: block;
    margin: auto;
}

body, html, h2, .submit{
    display: block;
    margin: auto;
}


/*================*/
/*  TITRE + LOGO    */
#Logo, .cadre{
    margin-top: 35px;
}

h2{
    text-align:center;
}

/*============*/
/*  FORM    */

.form-control{
    box-shadow: inset 1px 1px 1px 1px #888;
}

.form-group:not(.custom-file), .file-akar{
    margin: 20px 20px 20px 20px;
}



input{
    width: 100%;
    height: 30px;
    border-radius: 2px;
}

#form{
    background-color: #e4e4e4;
    border-radius: 6px;
    margin-bottom: 15px;
}



/*  Bouton  */
button:hover{
    background-color: firebrick;
    cursor: pointer;
}

button{
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
    margin-top: 4px;
    color: white;
    background-color: red;
    font-family: Hwy;
}
