
/*
	+---------------+
	|  FONT STYLES  |
	+---------------+
*/

@font-face{
	font-family: 'BlueFish';
	src: url('fonts/Bluefish_Regular Demo.otf');
}

@font-face{
	font-family: 'contm';
	src: url('fonts/contm.ttf');
}

@font-face{
	font-family: 'steelfish';
	src: url('fonts/steelfishrg.ttf');
}

@font-face{
	font-family: 'Hwy';
	src: url('fonts/HWYGEXPD.TTF');
}

h1{
	font-size: 2.0em;
}
p{
	font-size: 1.2em;
}



html{
	height: 100%;
}

header{
	text-align: center;
	box-shadow: 0px 5px 10px;
}

body{
	margin: auto;
	position: relative;
	background-color: white;
	min-height: 100%;
	color: black;
	font-family: Hwy;
}






@media (max-width: 959px), handheld {
	body {
		width: 100%;
	}

	#Logo {
		width: 25%;
	}

	/* Bannière */
	.banner {
		text-align: center;
		overflow: hidden;
		background-repeat: no-repeat;

		width: 100%;
		height: 100px;

		box-shadow: 0px 1px 10px;
	}

}


/* ============================================================ */
	/*
		+----------+
		|  HEADER  |
		+----------+
	*/
/* Add a black background color to the top navigation */
.topnav {
	background-color: red;
	overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
	font-size: 1.8em;
	text-decoration: none;
	padding-right: 8px;
	font-family : BlueFish;
	float: left;
	display: block;
	color: #f2f2f2;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 30px;
}



/* Add an active class to highlight the current page */
a.active {
	background-color: #bf0400;
	color: white;
}

/* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
	display: none;
}
/* Change the color of links on hover */
.topnav a:active, .topnav a:hover{
	background-color: #ddd;
	color: black;
}

@media (max-width: 959px), handheld {

	/* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */
		.topnav a{display: none;}
		.topnav a.icon {
			float: right;
			display: block;
		}


	/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
		.topnav.responsive {position: relative;}
		.topnav.responsive a.icon {
			position: absolute;
			right: 0;
			top: 0;
		}
		.topnav.responsive a {
			float: none;
			display: block;
			text-align: left;
			border-bottom: 1px solid black;
		}

		.topnav.responsive .icon{
			border-bottom: none;
		}
	/* Change the color of links on hover */

}


/* ============================================================ */

/*
    +-----------------------+
    |  FORMATS ORDINATEURS  |
    +-----------------------+
*/

@media screen and (min-width: 960px) {
	/* Bannière */
	.banner{
		text-align: center;
		overflow: hidden;
		background-repeat: no-repeat;

		width: 100%;
		height: 150px;

		box-shadow: 0px 5px 10px;
		border-radius: 0px 0px 10px 10px;
	}


	#Logo {
		max-width : 200px;
		max-height: 100px;
	}


	/*========= Menu =========*/
	#menu, header a{
		margin: auto;
		padding: auto;
	}


	.border-right{
		border-right: 1px solid black;
	}


	body{
		width: 960px;
	}


}